<section class="bg-one about section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="title text-center wow fadeIn" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeIn;">
                        <h2>About <span class="color">Us</span> </h2>
                        <div class="border-meghna"></div>
                    </div>
                </div>
                <!-- /section title -->
    
                
                <!-- About item -->
                <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                    <div class="block">
                        <div class="icon-box">
                            <i class="tf-ion-heart"></i>
                        </div>
                        <!-- Express About Yourself -->
                        <div class="content text-center">
                            <h3 class="ddd">At Our Core</h3>
                              <p class="common">Our employees, our clients, and their customers are at the heart of everything we do.</p>
                        </div>
                    </div>
                </div>
                
                <!-- About item -->
                <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                    <div class="block">
                        <div class="icon-box">
                            <i class="tf-ion-eye"></i>
                        </div>
                        <!-- Express About Yourself -->
                        <div class="content text-center">
                            <h3 class="ddd">Our Vision</h3>
                              <p class="common"> To be a globally preferred business process transformation partner for our clients, creating value in their business through innovative outsourcing solutions.</p>
                        </div>
                    </div>
                </div>
                
                <!-- About item -->
                <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                    <div class="block">
                        <div class="icon-box">
                            <i class="tf-ion-android-bulb"></i>
                        </div>
                        <!-- Express About Yourself -->
                        <div class="content text-center">
                            <h3 class="ddd">Our Mission</h3>
                              <p class="common"> Make our clients more competitive.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>