
{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bar background-image-fixed-3 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.whatwedo.icon }}"></i>
                </div>
                <h2 class="text-uppercase">{{ .Site.Params.whatwedo.title }}</h2>
                <p class="aboutuspara">{{ .Site.Params.whatwedo.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.whatwedo.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.whatwedo.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}

<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeIn;">
                    <h2> Our <span class="color"> Services </span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            <!-- /section title -->

            
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-ios-email"></i>
                    </div>
                    <h3>Forms and Emails</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-android-chat"></i>
                    </div>
                    <h3>Live Chats</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-genius"></i>
                    </div>
                    <h3>Back-End Transactions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-ion-android-call"></i>
                    </div>
                    <h3>Inbound Customer Service</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-target3"></i>
                    </div>
                    <h3>Website Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="tf-dial"></i>
                    </div>
                    <h3>Outbound Sales</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus.Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </article>
            <!-- End Single Service Item -->
            
        </div>
    </div>
</section>